<!--The content below is only a placeholder and can be replaced.-->
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a href="" (click)="home()">go home</a></h2>
  </li>
</ul>
<router-outlet></router-outlet>

